			<div>
				<h1>Process</h1>
				<div class="process">
					NodeJs Version: <b>{{NV}}</b><br />
					PID: <b>{{PID}}</b> as <b>{{TITLE}}</b>, Memory Usage: <b>{{MEM}}</b> (<b>{{MEMP}}</b> of <b>{{SMEM}}</b>), Uptime: <b>{{UP}}</b><br />
					Loadavg: <b>{{LAV}}</b>, Free Memory: <b>{{FRM}}</b>, Uptime: <b>{{OSUP}}</b><br />
					[ <a href="javascript:void(0)" onclick="$i.restart()" id="rsa">Restart</a><span id="rsh"></span> ] [ <a href="javascript:void(0)" onclick="$i.exit()" id="exa">Exit</a><span id="exh"></span> ]
				</div>
			</div>
			<div{{TTHI}}>
				<h1>Time Tag</h1>
				<div class="timetag">
					Time Spent Per Request: {{TSPR}}<br />
					Last [10m, 1h, 1d]: {{TSPRA}}<br />
					Longest Request: {{LONG}}<br />
					[ <a href="javascript:void(0)" onclick="$i.ll()" id="lla">List 10 Longest Request</a><span id="llh"></span> ] [ <a href="javascript:void(0)" onclick="$i.llc()" id="llca">Clear List</a><span id="llch"></span> ] 
					<ul id="llRe" class="ulform"></ul>
				</div>
			</div>
			<div>
				<h1>Object</h1>
				<div class="object">
					Target: <input id="oid" class="bindOid uinput" value="{{OID}}" onkeydown=$m.one('$i.oid()',event) /> <input id="oidBu" class="abu" value="Edit" type="button" onclick="$i.oid()" /> <input type="hidden" id="do" class="bindOid" value="oid" />
				</div>
			</div>
			<div>
				<h1>Session</h1>
				<div class="session">
					Session Count: <span id="sessionCount"><a href="javascript:void(0)" onclick="$i.sc()">Count</a></span><br />
					Session Clean Up: <input id="scms" class="uinput" value="604800000" /> ms, <span id="sessionClean"><a href="javascript:void(0)" onclick="$i.scup()">Clean Now</a></span>
				</div>
			</div>
			<div>
				<h1>Cache</h1><a id="cachea"></a>
				<div class="cache">
					<input id="lcBu" class="abu" value="List Cache" type="button" onclick="$i.lc()" />
					<input id="ltcBu" class="abu" value="List Template Cache" type="button" onclick="$i.ltc()" />
					<ul id="cacheRe" class="ulform"></ul>
				</div>
			</div>