.process,.object,.session{
	font-size:14px;
	margin:5px 18px 40px;
}

#oid{
	width:400px;
	font-size:15px;
	margin:0 10px 0;
}
#oidBu{
	margin:0 0 0 5px;
}

#oidsBu{
	background:#19ab20;
}
#oidsBu:hover{
	background:#43e028;
}
#oiddBu{
	background:#d63d3e;
	margin:0 10px 0;
}
#oiddBu:hover{
	background:#ff6f70;
}