.process,.object,.session,.cache,.monitor{
	font-size:14px;
	margin:5px 18px 40px;
}
.cache{
	margin:8px 18px 40px;
}

#oid{
	width:400px;
	font-size:15px;
	margin:0 10px 0;
}
#oidBu{
	margin:0 0 0 5px;
}

#lcBu{
	margin:0 10px 0 0;
}
#oidsBu,#lcBu,#scBu,#stcBu{
	background:#19ab20;
}
#oidsBu:hover,#lcBu:hover,#scBu:hover,#stcBu:hover{
	background:#43e028;
}
#oiddBu,#dcBu,#dtcBu{
	background:#d63d3e;
	margin:0 10px 0;
}
#oiddBu:hover,#dcBu:hover,#dtcBu:hover{
	background:#ff6f70;
}

#cacheRe{
	margin:15px 0 40px 18px !important;
	font-size:15px;
}
#cacheRe li{
	list-style:disc !important;
}
#cacheRe span{
	display:block !important;
	font-size:13px !important;
	color:#999999;
	font-weight:normal;
}

#scms{
	margin:0 10px 0;
	font-size:15px;
	width:130px;
}