@charset "utf-8";
*{}
body{
	background:#f9f9f9 !important;
	word-break:break-all;
	word-wrap:break-word;
	font-size:13px;
	margin:0;
	padding:0;
	color:#000000;
	font-family:Hiragino Sans GB,微软雅黑,黑体,Arial,sans-serif;
	overflow:auto;
}
img{
	border:0;
}
a{
	text-decoration:none;
	color:#004aff;
}
a:hover{
	color:#004aff;
}
.c{
	clear:both;
}