@charset "utf-8";
*{}
body{
	background:transparent;
	word-break:break-all;
	word-wrap:break-word;
	font-size:15px;
	margin:0;
	padding:0;
	color:#333333;
	font-family:Hiragino Sans GB,微软雅黑,黑体,Arial,sans-serif;
	overflow:auto;
}
a{
	text-decoration:none;
	color:#004aff;
}
h1,h2{
	color:#000000;
	margin:0;
	padding:0 15px;
	font-size:21px;
	font-weight:normal;
	background:url(../images/titleBar.png) no-repeat center left;
}
h2{
	font-size:18px;
	background:url(../images/title2Bar.png) no-repeat center left;
}
h2 span{
	color:#777777;
	font-size:16px;
	padding:0 5px;
}
h3{
	font-size:15px;
	padding:0;
	margin:0;
	padding:0 0 5px 5px;
}

pre{
	border:1px solid #cccccc;
	padding:5px 5px !important;
	margin:5px 0 8px !important;
	line-height:normal;
}
code{
	margin:0 5px !important;
}

.wrapper{
	margin:0 0 50px 20px;
}
.wrapper .box{
	margin:10px 25px 25px 20px;
	line-height:27px;
}
.wrapper .box p{
	padding:0;
	margin:0 0 15px;
	text-indent:30px;
}
.wrapper .box .pul{
	padding:0;
	margin:6px 0 0 65px;
}
.wrapper .box .uul{
	padding:0;
	margin:5px 0 15px 35px;
}
.wrapper .box .var{
	padding:0 0 0 25px;
}

.sbox{
	background:#eeeeee;
	padding:13px 20px 11px;
	border-width:1px 1px 1px 6px;
	border-style:solid;
}
.stable{
	border-color:green;
}
.stable span{
	color:green;
}
.normal{
	border-color:blue;
}
.normal span{
	color:blue;
}

.apilist{
	margin:25px 25px 0;
	padding:0;
}